html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#boids-canvas-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  display: flex;
}

.mdc-drawer-app-content {
  flex: auto;
}

.mdc-top-app-bar {
  position: absolute;
}

#visible-space {
  height: 100%;
}

.mdc-drawer-app-content {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms;
}

.mdc-drawer--closing + .mdc-drawer-app-content {
  transition: 200ms;
}
