@use '@material/theme' with (
  $primary: #0bf,
  $surface: #333,
  $background: #222,
);
@use '@material/typography' with (
  $font-family: unquote("'Roboto Mono', monospace"),
);
@use '@material/icon-button';
@use '@material/top-app-bar/mdc-top-app-bar';
@use '@material/top-app-bar';
@use '@material/ripple';

@use './siderbar';

@include theme.core-styles;
@include typography.core-styles;

@include icon-button.core-styles;

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.mdc-top-app-bar {
  @include top-app-bar.fill-color-accessible(surface);
  @include top-app-bar.icon-ink-color(on-surface);
}

#boids-settings-btn {
  @include ripple.surface;
  @include ripple.radius-unbounded;
  @include ripple.states;
  overflow: visible;
}

#boids-canvas-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#visible-space {
  height: 100%;
}
